<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="alunos">Alunos</a></li>
        <li class="breadcrumb-item" aria-current="page">{{vm.aluno.aluno_nome}}</li>
        <li class="breadcrumb-item"><a ui-sref="grupos({educador: vm.educador.id, aluno: vm.aluno.aluno_id})">Grupos</a></li>
        <li class="breadcrumb-item" aria-current="page">{{vm.grupo.grupo_titulo}}</li>
        <li class="breadcrumb-item active" aria-current="page"><a ui-sref="atividades({aluno: vm.aluno.aluno_id, grupo: vm.grupo.grupo_id})">Atividades</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{vm.atividade.atividade_titulo}}</li>
    </ol>
</nav>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{vm.atividade.atividade_titulo}}</h1>
</div>


<div ng-if="vm.atividade.atividade_tipo == 1" ng-include="vm.getTemplate(1)"></div>
<div ng-if="vm.atividade.atividade_tipo == 2" ng-include="vm.getTemplate(2)"></div>
<div ng-if="vm.atividade.atividade_tipo == 3" ng-include="vm.getTemplate(3)"></div>
