<!-- dialog -->
<div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h1 id="myModalLabel" class="modal-title">                
                Atividade: {{atividade.atividade_titulo}}
            </h1>
        </div>
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
            <!-- body -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="label bg-primary pull-right">{{cartoes.length}} Cartões</span>
                            <h4>Cartões de {{aluno.aluno_nome}}</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped m-b-none">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Data Entrada</th>
                                        <th>Data Saída</th>
                                        <th>Convocação</th>
                                        <th>Aluno(a) conhece?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cartao in cartoes">
                                        <td>{{cartao.cartao_nome}}</td>
                                        <td>{{cartao.data_entrada}}</td>
                                        <td>{{cartao.data_saida}}</td>
                                        <td>
                                            <div class="checkbox">
                                                <label class="i-checks">
                                              <input type="checkbox" ng-model="cartao.status_convocacao"><i></i> {{getLabelConvocacao(cartao.status_convocacao)}}
                                            </label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <label class="i-checks">
                                                      <input type="checkbox" ng-model="cartao.conhecido"><i></i> {{getLabelConhecido(cartao.conhecido)}}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- footer -->
            <div class="modal-footer">

                <button class="btn btn-success" ng-click="ok()">
                            Salvar 
                </button>

                <button class="btn btn-warning" ng-click="ok()">
                            Fechar 
                </button>

            </div>
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->