<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-7">
            <div class="blog-post">
                <div class="panel">
                    <div>
                        <ng-youtube-embed video="vm.atividade.video_url" autoplay="vm.atividade.autoplay" width="100%">
                        </ng-youtube-embed>
                    </div>
                    <div class="wrapper-lg" ng-if="vm.atividade.atividade_descricao">
                        <h3 class="m-t-none"><a href>Descrição</a></h3>
                        <div class="line line-lg b-b b-light"></div>
                        <div>
                            <p class="text-justify" ng-bind="vm.atividade.atividade_descricao">
                            </p>
                        </div>
                    </div>
                    <div class="wrapper-lg" ng-if="vm.atividade.atividade_instrucao">
                        <h3 class="m-t-none"><a href>Instrução</a></h3>
                        <div class="line line-lg b-b b-light"></div>
                        <div>
                            <p class="text-justify" ng-bind="vm.atividade.atividade_instrucao">
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">

                   
                </div>
            </div>
       
        </div>
    </div>
</div>