<!-- dialog -->
<div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

        <!-- header -->
        <div class="modal-header">
            <h1 id="myModalLabel" class="modal-title">
                Cartões - Mateus Costa Leite
            </h1>
        </div>
        <!-- header -->

        <!-- body -->
        <div class="modal-body">
            <!-- body -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="label bg-primary pull-right">10 Cartões</span>
                            <h4>Atividade: Animais do Zoológico</h4>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-striped m-b-none">
                            <thead>
                                <tr>
                                    <th>Título</th>
                                    <th>Convocado</th>
                                    <th>Data Entrada</th>
                                    <th>Data Saída</th>
                                    <th>Convocação</th>
                                    <th>Aluno Conhece</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Meu título</td>
                                    <td>Sim</td>
                                    <td>12/12/2017</td>
                                    <td></td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                              <input type="checkbox"><i></i> Não convocado
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                      <input type="checkbox"><i></i> Não conhecido
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Meu título</td>
                                    <td>Sim</td>
                                    <td>12/12/2017</td>
                                    <td></td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                  <input type="checkbox" ><i></i> Não convocado
                                                </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                          <input type="checkbox"><i></i> Não conhecido
                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Meu título</td>
                                    <td>Sim</td>
                                    <td>12/12/2017</td>
                                    <td></td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                  <input type="checkbox" checked><i></i> Convocado
                                                </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                          <input type="checkbox" checked><i></i> Conhecido
                                                </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Meu título</td>
                                    <td>Sim</td>
                                    <td>12/12/2017</td>
                                    <td></td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                  <input type="checkbox" checked><i></i> Convocado
                                                </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                          <input type="checkbox" checked><i></i> Conhecido
                                                </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- footer -->
            <div class="modal-footer">

                <button class="btn btn-success" ng-click="ok()">
                            Salvar 
                </button>

                <button class="btn btn-warning" ng-click="ok()">
                            Fechar 
                </button>

            </div>
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->