<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="alunos">Alunos</a></li>
        <li class="breadcrumb-item" aria-current="page">{{vm.aluno.aluno_nome}}asds</li>
        <li class="breadcrumb-item"><a ui-sref="grupos({educador: vm.educador.id, aluno: vm.aluno.aluno_id})">Grupos</a></li>
        <li class="breadcrumb-item" aria-current="page">{{vm.grupo.grupo_titulo}}</li>
        <li class="breadcrumb-item active" aria-current="page">Atividades</li>
        <li class="breadcrumb-item active" aria-current="page">{{vm.atividade.atividade_titulo}}</li>
    </ol>
</nav>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">{{vm.atividade.atividade_titulo}}</h1>
</div>


<div ng-if="vm.atividade.atividade_tipo == 1" ng-include="vm.getTemplate(1)"></div>
<div ng-if="vm.atividade.atividade_tipo == 2" ng-include="vm.getTemplate(2)"></div>
<div ng-if="vm.atividade.atividade_tipo == 3" ng-include="vm.getTemplate(3)"></div>


<script type="text/ng-template" id="myModalContent.html">

    <!-- dialog -->
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h1 id="myModalLabel" class="modal-title">
                    {{atividade.atividade_titulo}}
                </h1>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="modal-body">

                <div ngsf-fullscreen="fullscreenCtrl">
                    <div id="carousel-main" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" on-carousel-next="fuck()">
                        <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
                            <img ng-src="{{slide.image}}" ng-swipe-left="swipeFn('swipe-left')" ng-swipe-right="swipeFn('swipe-right')" class="img-responsive"
                                style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>{{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- body -->

                <!-- footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="fullscreenCtrl.toggleFullscreen()">
                            Fullscreen
                          </button>
                    <button class="btn btn-primary" ng-click="randomize();">
                            Aleatório
                          </button>


                    <!--button class="btn btn-secondary" data-dismiss="modal">
  close
</button>
                <button class="btn btn-default">
  Default
</button-->
                    <button class="btn btn-warning" ng-click="ok()">
                    Fechar
                </button>
                </div>
                <!-- footer -->

            </div>
            <!-- content -->

        </div>
        <!-- dialog -->
</script>