<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!/alunos">Alunos</a></li>
        <li class="breadcrumb-item" aria-current="page">{{vm.aluno.aluno_nome}}</li>
        <li class="breadcrumb-item active" aria-current="page">Grupos</li>
    </ol>
</nav>
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Grupos de Atividades de {{vm.aluno.aluno_nome}}</h1>
</div>

<div class="wrapper-md">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    Pesquisa
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="filtro">Nome</label>
                            <input type="text" ng-model="filtro" class="form-control" id="filtro" placeholder="Digite o nome">
                        </div>
                        <button type="submit" class="btn btn-success">Procurar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
                <div class="panel panel-default" style="min-height: 120px">
                        <div class="panel-heading font-bold">
                            Último Grupo Acessado
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="acesso in vm.acessos">{{acesso.data_acesso}} - <a style="text-decoration: underline" ng-click="vm.setGrupoJaAcessado(acesso.grupo_id)"> {{acesso.grupo_titulo}}</a></div>
                        </div>
                    </div>
        </div>
    </div>
    <h1 class="m-n font-thin h3">Selecione um grupo:</h1><br>
    <div class="row">
        <div ng-repeat="grupo in vm.grupos | fitrarPorNome:filtro:'grupo_titulo' " class="col-lg-3">
            <div class="panel b-a">
                <div ng-class="['panel-heading', 'no-border', (grupo.status)?'bg-success':'bg-light']">
                    <span class="text-lt"><strong>{{($index+1)+ ' . ' + grupo.grupo_titulo }}</strong></span>
                </div>
                <a ng-click="vm.setSelecionado(grupo)">
                    <div class="item m-l-n-xxs m-r-n-xxs">
                        <!--div style="background-color: rgba(0,0,0,0.5); padding: 5px" class="bottom wrapper bg-gd-dk text-white">
                            <div class="text-u-c h3 m-b-sm text-primary-lter">Coffee</div>
                            <div>Aplicado</div>
                            <div>06/10/2017 19:20</div>
                        </div-->
                        <img ng-src="{{vm.path + grupo.grupo_imagem}}" class="img-full line-bottom" " style="{{(grupo.status)? '':
                            'filter: grayscale(100%);'}} ">
                        <img class="medal-honor-icon " ng-if="vm.checkboxes[$index]==2 " src="assets/img/honour-medal-icon.png ">    
                    </div>                    
                </a>
                <div ng-if="vm.verificaTipoEducador() " class="form-group " style="text-align:center; padding:5px ">
                        <div class="btn-group btn-group-sm ">
                            <label ng-class="[ vm.checkboxes[$index]==0 ? 'btn btn-mini btn-primary' :
                            'btn btn-mini btn-default'] " ng-model="vm.checkboxes[$index] " uib-btn-radio="0 ">Dasabilitado</label>
                            <label ng-class="[ vm.checkboxes[$index]==1 ? 'btn btn-mini btn-primary' :
                            'btn btn-mini btn-default'] " ng-model="vm.checkboxes[$index] " uib-btn-radio="1 ">Aberto</label>
                            <label ng-class="[ vm.checkboxes[$index]==2 ? 'btn btn-mini btn-primary' :
                            'btn btn-mini btn-default'] " ng-model="vm.checkboxes[$index] " uib-btn-radio="2 ">Finalizado</label>
                        </div>
                </div>
                <div class="hbox text-center b-b b-light text-sm ">
                    
                    <a ng-click="vm.setSelecionado(grupo) " class="col padder-v text-muted ">
                        <i ng-if="grupo.status==1 "  class="fa {{(grupo.status)? 'fa-play-circle-o': ''}}
                            " block m-b-xs fa-2x" style="{{(grupo.status)?'color:green':''}}"></i>
                        <span style="{{(grupo.status)?'color:green':''}}">{{vm.getLabelStatus(grupo.status)}}</span>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>