<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">1. Animais 1</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-7">
            <div class="blog-post">
                <div class="panel">
                    <a href="#" ng-click="open('lg')">
                        <div class="video-thumbnail">
                            <img src="assets/img/c0.jpg" class="img-full">
                        </div>
                    </a>
                    <div class="wrapper-lg">
                        <h3 class="m-t-none"><a href>Descrição</a></h3>
                        <div class="line line-lg b-b b-light"></div>
                        <div>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis suscipit erat, eget pulvinar
                                lorem. Vestibulum viverra, nisl in suscipit molestie, lorem nisi cursus ligula, sit amet
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-6">

                    <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                        titles="['Uma Estrela','Duas Estrelas','Três Estrelas', 'Quatro Estrelas', 'Cinco Estrelas']" aria-labelledby="default-rating"></span>
                    <br>{{'Excelente'}}
                </div>
                <div class="col-sm-6">
                    <div class="text-right" style="margin: 0 0 15 0;">
                        <button class="btn btn-info btn-addon"><i class="fa fa-print "></i>Imprimir</button>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading font-bold">
                    Cartões
                </div>
                <div class="panel-body text-center">
                    <!--h4><small>last </small>12<small> hrs</small></h4>--
                        <small class="text-muted block">60%</small-->
                    <div class="inline">
                        <div easypiechart options="options" percent="percent">
                            <div>
                                <span class="h2 m-l-sm step">65</span>%
                                <div class="text text-sm">até hoje</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer"><small>% de aprendizado</small></div>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        Linha do Tempo
                    </div>
                    <div class="panel-body">
                        <div class="wrapper">
                            <ul class="timeline">
                                <li class="tl-header">
                                    <div class="btn btn-success">Agora</div>
                                </li>
                                <li class="tl-item">
                                    <div class="tl-wrap b-success">
                                        <span class="tl-date">29/10/2017<br>16:00</span>
                                        <div class="tl-content panel padder b-a">
                                            <span class="arrow left pull-up"></span>
                                            <div>Identificou 4</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item tl-left">
                                    <div class="tl-wrap b-success">
                                        <span class="tl-date">29/10/2017<br>12:00</span>
                                        <div class="tl-content panel padder b-a">
                                            <span class="arrow left pull-up"></span>
                                            <div>Identificou 2</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item tl-left">
                                    <div class="tl-wrap b-success">
                                        <span class="tl-date">29/10/2017<br>09:00</span>
                                        <!--div class="tl-content panel padder b-a">
                                    <span class="arrow left pull-up"></span>
                                    <div>Identificou 2</div>
                            </div-->
                                    </div>
                                </li>
                                <li class="tl-header">
                                    <div class="btn btn-sm btn-success btn-rounded">Início</div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">

    <!-- dialog -->
    <div class="modal-dialog">

        <!-- content -->
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h1 id="myModalLabel" class="modal-title">
                    Animais 1
                </h1>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="modal-body">

                <div>
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}"  class="img-responsive" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>{{slide.id}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- body -->

            <!-- footer -->
            <div class="modal-footer">
                <!--button class="btn btn-secondary" data-dismiss="modal">
  close
</button>
                <button class="btn btn-default">
  Default
</button-->
                <button class="btn btn-primary" ng-click="ok()">
  Fechar
</button>
            </div>
            <!-- footer -->

        </div>
        <!-- content -->

    </div>
    <!-- dialog -->
</script>